* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #696969;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* apply styles to <header> */

header {
    padding:  20px 35px;
    background-color: #c0c0c0;
}

header h1 {
    font-weight: bolder;
    font-size: 40px;
    font-style: normal;
    color: #696969;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #696969;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
}

section {
    padding: 60px;
}

/* begin hero styles */

.hero {
    background-image: url("../images/portfolio-background.jpg");
    background-size: cover;
    width: stretch;
    height: 250px;
    position: relative;
}

.hero-heading {
    background-color: #c0c0c0;
    padding: 10px;
    width: 150px;
    color: #696969;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: center;
}