* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #c0c0c0;
    --medium-color: #696969;
    --dark-color: #2F4F4F;
}

body {
    color: var(--medium-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* apply styles to <header> */

header {
    padding:  20px 35px;
    background-color: var(--light-color);
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-weight: bolder;
    font-size: 40px;
    font-style: normal;
    color: var(--medium-color);
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: var(--medium-color);
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
}

section {
    padding: 60px;
}

/* begin hero styles */

.hero {
    background-image: url("../images/portfolio-background.jpg");
    background-size: cover;
    width: stretch;
    height: 300px;
    position: relative;
}

.hero-heading {
    background-color: var(--light-color);
    padding: 10px;
    width: 150px;
    color: var(--medium-color);
    position: absolute;
    bottom: 10px;
    right: 55px;
    text-align: center;
}

.profile-pic {
    bottom: 60px;
    right: 40px;
    position: absolute;
}

/* end hero styles */

.section-title {
    font-size: 36px;
    color: var(--medium-color);
    text-align: left;
}
/* begin grid styles */

.grid-container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 3 auto;
    margin: 0px;
}

.grid-item-head {
    background-color: none;
    padding: 20px;
    text-align: center;
    border-right: 5px solid var(--dark-color);
}

.grid-item-content {
    background-color: none;
    padding: 30px;
    text-align: left;
}

.grid-container-contact {
    display: inline;
    text: var(--medium-color);
    justify-content: space-evenly;
    margin-top: 50px;
}