* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #c0c0c0;
    --medium-color: #696969;
    --dark-color: #2F4F4F;
}

body {
    color: var(--medium-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* apply styles to <header> */

header {
    padding:  20px 35px;
    background-color: var(--light-color);
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-weight: bolder;
    font-size: 40px;
    font-style: normal;
    color: var(--medium-color);
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: var(--medium-color);
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
}

section {
    padding: 60px;
}

/* begin hero styles */

.hero {
    background-image: url("../images/portfolio-background.jpg");
    background-size: cover;
    width: stretch;
    height: 300px;
    position: relative;
}

.hero-heading {
    background-color: var(--light-color);
    padding: 10px;
    width: 150px;
    color: var(--medium-color);
    position: absolute;
    bottom: 10px;
    right: 55px;
    text-align: center;
}

.profile-pic {
    bottom: 60px;
    right: 40px;
    position: absolute;
}

/* end hero styles */

.contents {
    display: grid;
    grid-template-columns: 300px auto;
    text-align: justify;
}

.contents h2 {
    text-align: right;
    flex-wrap: wrap;
    padding: 10px;
    border-right: 3px solid var(--dark-color);
}

.contents p {
    text-align: left;
    padding: 10px;
}

.nested {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 10px 0 10px;
}

/* .nested p {
    margin: 0;
    width: auto;
    height: 300px;
} */

.nested img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

.nested-2 p {
    display: inline-block;
    text-align: center;
    margin: 20px 20px 0 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}

/* BEGIN MEDIA QUERY STYLES*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: right;
        overflow: hidden;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .contents {
        justify-content: center;
        /* position: relative; */
    }

    .nested p {
        grid-column: 1;
        width: 30%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {
    section {
        padding-bottom: 30px 15px;
    }


}
